<hr>
<div class="row">
<% @paintings.each do |painting| %>
  <div class="col-md-4">
    <%= link_to (image_tag painting.image.url(:medium), class: 'img-responsive'), painting_path(painting) %>
    <%= link_to 'More Info', painting_path(painting), id: "imgstyl" %>
  </div>
  <% end %>
</div>
<%= render 'layouts/footer' %>
<hr>
